body{
	background-color: #363942;
	display: flex;
	justify-content: center;
	align-items: center;
}

.body-clickable{
	cursor: hand;
}

h1{
	margin-bottom: 7px;
	display: inline-block;
	text-align: left;
    font-size: 76px;
	color: #382513;
	z-index:-1;
}

#home{
    width: 510px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hidden{
	visibility: hidden;
}
.lname{
	color: #5C832F;
}

.kbtn{
	display: inline-block;
	background-image: url('img/KevPixelated.png');
	background-repeat: no-repeat;
	background-color: #363942; 
	width: 155px;
	height: 170px;
	border-radius: 5px;
}

/*.kbtn:hover{
	background-color: #5C832F !important;
}*/

.kbtnPressed{
	background-image: url('img/KevUnpixelate.png') !important;
	background-color: #382513 !important;
}

.slide{
	position :relative;
	animation: slide-right .4s;
}

.appear{
	visibility: visible !important;
}

.fade{
	animation: fade-in .4s;
}

@keyframes slide-right {
	0%   { left: -50px; opacity: 0; }
	100% { left: 0px; opacity: 1; }
}

@keyframes fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

#proj-menu{
	display: inline-block;
	float: left;
	background-color: #284907;
	visibility: hidden;
	width: 140px;
	border-radius: 5px;
	clear: both;
}

#soc-menu{
    display: inline-block;
    float: right;
    background-color: #284907;
    visibility: hidden;
    width: 155px;
    border-radius: 5px;
    margin-right: 26px;
}

.main-btn{
  background-color: #363942;
  visibility: hidden;
  text-align: center;
  font-size: 15px;
  width: 155px;
  border-radius: 5px;
  color: white;
  cursor: hand;
  box-shadow: 4px 4px 2.5px #888888;
  z-index: -1;
  margin-bottom: 7px;
  margin-right: 9px;
  float: left;
}

.main-btn:hover, .main-btn:focus{
	background-color:#5C832F;
}

.main-btnPressed{
	background-color: #284907;
}

#web, #video{
	text-decoration: none;
}

#socialM{
	border: none;
	padding: 0;
}

ul{
	margin: 0;
	padding: 0;
	margin-bottom: 0 !important;
}
ul > li > a{
	color: white;
	padding:5px;
	text-align: center;
	border-radius: 5px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size:1em;
	display:block;
	cursor:hand;
}
ul > li > a:hover, ul > li > a:focus{
	background-color:#5C832F;
	text-decoration: none;
	color: white;
}
ul > li > a:active{
	text-decoration: none;
}
ul > li > a:visited{
	text-decoration: none;
	color: white;
}
ul > li{
	display:inline;
	margin:0;
}


