body{
	background-color: #D8CAA8;
}
h1{
	margin-bottom: 0px;
	display: inline-block;
	text-align: left;
	font-size: 4vw;
	color: #382513;
	z-index:-1;
}

#home{
	width: 35%;
	margin: 0 auto;
	padding-top: 10%;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main{
	margin: 0 auto;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main h1{
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	margin-bottom: 30;
}

.hidden{
	visibility: hidden;
}
.lname{
	color: #5C832F;
}

.kbtn{
	box-shadow: 5px 5px 2.5px #888888;
	display: inline-block;
	background-image: url('img/KevPixelated.png');
	background-repeat: no-repeat;
	background-color: #363942; 
	width: 155px;
	height: 170px;
	border-radius: 5px;
	cursor:hand;
}

.kbtn-home{
	box-shadow: 5px 5px 2.5px #888888;
	display: inline-block;
	background-image: url('img/KevHome.png');
	background-repeat: no-repeat;
	background-color: #363942; 
	width: 90px;
	height: 110px;
	border-radius: 5px;
	cursor:hand;
	float: left;
}

.kbtn-home:hover{
	background-color: #5C832F !important;
}

.kbtn:hover{
	background-color: #5C832F !important;
}

.kbtnPressed{
	background-image: url('img/KevUnpixelate.png') !important;
	background-color: #382513 !important;
}

.slide{
	position :relative;
	animation: slide-right .4s;
}

.appear{
	visibility: visible !important;
}

.fade{
	animation: fade-in .4s;
}

@keyframes slide-right {
	0%   { left: -50px; opacity: 0; }
	100% { left: 0px; opacity: 1; }
}

@keyframes fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

#proj-menu{
	display: inline-block;
	float: left;
	background-color: #284907;
	visibility: hidden;
	width: 140px;
	border-radius: 5px;
	clear: both;
}

#soc-menu{
	display: inline-block;
	float: left;
	background-color: #284907;
	visibility: hidden;
	width: 140px;
	border-radius: 5px;
	margin-left: 10px;
}

.main-btn{
  background-color: #363942;
  visibility: hidden;
  text-align: center;
  font-size: 15px;
  width: 140px;
  border-radius: 5px;
  color: white;
  cursor: hand;
  box-shadow: 4px 4px 2.5px #888888;
  z-index: -1;
  margin-bottom: 7px;
  margin-right: 9px;
  float: left;
}

.main-btnPressed{
	background-color: #284907;
}

ul{
	margin: 0;
	padding: 0;
	margin-bottom: 0 !important;
}
ul > li > a{
	color: white;
	padding:5px;
	text-align: center;
	border-radius: 5px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size:1em;
	display:block;
	cursor:hand;
}
ul > li > a:hover{
	background-color:#5C832F;
	text-decoration: none;
	color: white;
}
ul > li > a:active{
	text-decoration: none;
}
ul > li > a:visited{
	text-decoration: none;
	color: white;
}
ul > li{
	display:inline;
	margin:0;
}

.projects{
	clear: both;
	padding-left: 10%;
	padding-right: 10%;
	margin: 0 auto;
	background-color: rgb(92, 131, 47);;
	overflow: hidden;
	margin-top: 244px;
	border-radius: 30px;
	padding-bottom: 100px;
}

.project{
	margin-top: 100px;
	margin-left: 100px;
	width: 388px;
	height: 163px;
	float: left;
	text-align: center;
	font-size: 50px;
	text-decoration: none;
	padding-top: 73px;
	background-repeat: no-repeat;
	color: #5C832F;
	border-radius: 5px;
}

.box-behind{
	background-color: rgb(216, 202, 168);
	box-shadow: 4px 4px 2.5px #888888;
	border-radius: 10px;
}

#madlib{
	background-image: url("img/madlibPixelated.png");
}
#madlib:hover{
	background-image: url("img/madlib.png");
}

#fizzbuzz{
	background-image: url("img/fizzbuzzPixelated.png");
}
#fizzbuzz:hover{
	background-image: url("img/fizzbuzz.png");
}

#chf{
	background-image: url("img/chfPixelated.png");
	background-size: cover;
}
#chf:hover{
	background-image: url("img/chf.png");
}

.fsPic{
	float: right;
	border-radius: 30px;
}

.vid-container{
	display: inline-block;
	text-align: center;
	margin-top: 100px;
	margin-left: 100px;
	width: 560px;
	height: 315px;
}

.youtube{
	width: 560px; 
	height: 315px;
}

.vimeo{
	width: 500px;
	height: 281px;
}
