body{
    font-family: sans-serif;
}
header{
	padding: 15px;
	background-color: black;
	color: yellow;
	font-family: 'Press Start 2P', cursive;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    font-size: 1.5em;
}
#main{
    padding: 20px 4%;
    overflow: hidden;
    background: linear-gradient( to bottom, black, white);
}
.container{
    width: 49%;
    margin: 0 1% 1% 0;
    background-color: #D8EEF5;
    float: left;
}
.char-container{
    width: 30%;
    /* margin: 20px; */
    float: left;
}
.character{
    height: 10vw;
    width: 10vw;
    margin: 8%;
    float: left;
}
.description{
    float: left;
    width: 70%;
}
.description p{
    margin-right: 5%;
}

.character div{
    width: 5vw;
    height: 5vw;
    float: left;
}

/**************Vader*/
#darth-vader div:first-child{
    background-color: black;
}
#darth-vader div:nth-child(2){
    background-color: red;
}
#darth-vader div:nth-child(3){
    background-color: black;
}
#darth-vader div:last-child{
    background-color: black;
}

/**************Yoda*/
#yoda div:first-child{
    background-color: #7AA42F;
}
#yoda div:nth-child(2){
    background-color: #5978E1;
}
#yoda div:nth-child(3){
    background-color: #B3B575;
}
#yoda div:last-child{
    background-color: #2F802F;
}

/**************Chewy*/
#chewy div:first-child{
    background-color: #AD7F51;
}
#chewy div:nth-child(2){
    background-color: #5A5A5A;
}
#chewy div:nth-child(3){
    background-color: #865A26;
}
#chewy div:last-child{
    background-color: #614617;
}

/**************leia*/
#leia div:first-child{
    background-color: #FBFBB6;
}
#leia div:nth-child(2){
    background-color: #714A11;
}
#leia div:nth-child(3){
    background-color: white;
}
#leia div:last-child{
    background-color: white;
}